<% provide(:title, @user.name) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
<p>email : <%= @user.email %></p>
<p>created_at : <%= @user.created_at%></p>
<p>updated_at : <%= @user.updated_at%></p>
<p>Time.now : <%= Time.now %></p>
